In [ ]:
##### Exploratory Data Analysis #####
# STEPS
# 1) IMPORT THE NECESSARY LIBRARY AND READ THE DATA
# 2) UNDERSTANDING THE DATA
#    DATADIS,df.info(),df.shape,df.size
# 3) CHECK FOR DUPLICATE ROWS
# 4) CHECK FOR DATATYPE AND CHANGE IF NECESSARY
# 5) Separate the numeric and categorical column
# 6) Descriptive Stat (Understanding Numerical and Categorical Data
#    A) MEASURE OF CENTRAL TENDENCY: MEAN, MEDIAN AND MODE (ONLY MODE IS FOUND FOR CATEGORICAL DATA)
#    B) MEASURE OF DISPERSION
#     i)Range
#     ii)Variance
#     iii)Standard Deviation
#     iv)IQR -> Middle 50% of data (Helps in finding outliers)
#    C) MEASURE OF SHAPE
#     i)Skewness
#       -> types -> 1) 0 2) Positive(Right) 3) Negative (Left)
#     ii)Kurtosis
#       -> types -> 1) Mesokurtis (Bells shaped)->Has proper distribution of data k = 3
#                   2) Lepokurtic (Sharp/High Peak) k > 3 
#                   3) Platokurtic (Flat/Not so peaky) k < 3
#     iii)CoVariance -> Measure Of relationship between 2 numeric variable [Scale dependent/Depends on unit of measurement]
#         types -> if x and y move/change in same direction (either positive or negative) co variance is +ve
#                  if x and y move/change in opposite direction co variance is -ve
#                  if x and y are not dependent[Independent of each other] on each other then co variance is 0 
#     iv)CoRelation -> Similar to Covariance but gives us a measure of relationship between numeric 
#                      variable along with the strength of the relationship [Scale Independent][Co Relation range is between 1 to -1]
#      v)CoEfficient Of Variance -> It gives the percentage of relationship between 2 variable of different scale [Eliminates Scale of the data]

# Restaurant Sales report
**EDA and Analysis Ideas for restaurant business**

# File Description:

#### File Format: CSV
#### Columns: This dataset includes columns such as order_id, date, item_name, item_type, item_price, quantity, transaction_amount, transaction_type, received_by, and time_of_sale.
#### Data Size: This file contains 1000 rows and 10 columns.
#### Data Structure: The dataset is organized as a single CSV file, providing information on transactions at a local restaurant.
#### Data Cleaning and Preprocessing: The data has been carefully reviewed and cleaned to address duplicates and missing values, ensuring data quality for analysis.
#### Date of Last Update: The dataset was last updated on March 31, 2023.
#### Special Notes: Please note that the 'transaction_amount' column represents the total transaction amount, derived from the multiplication of 'item_price' and 'quantity' for each item in the order.
#### Data Source: This data was collected from a local restaurant situated near my home and is made available for analysis and educational purposes.

## Data Description:
This dataset captures sales transactions from a local restaurant near my home. It includes details such as the order ID, date of the transaction, item names (representing various food and beverage items), item types (categorized as Fast-food or Beverages), item prices, quantities ordered, transaction amounts, transaction types (cash, online, or others), the gender of the staff member who received the order, and the time of the sale (Morning, Evening, Afternoon, Night, Midnight). The dataset offers a valuable snapshot of the restaurant's daily operations and customer behavior.

### Columns:

    order_id: a unique identifier for each order.
    date: date of the transaction.
    item_name: name of the food.
    item_type: category of item (Fastfood or Beverages).
    item_price: price of the item for 1 quantity.
    Quantity: how much quantity the customer orders.
    transaction_amount: the total amount paid by customers.
    transaction_type: payment method (cash, online, others).
    received_by: gender of the person handling the transaction.
    time_of_sale: different times of the day (Morning, Evening, Afternoon, Night, Midnight).

In [12]:
import pandas as pd
import numpy as np
import seaborn as sns
df = pd.read_csv("Balaji Fast Food Sales (1).csv")
df.head()

,order_id,date,item_name,item_type,item_price,quantity,transaction_amount,transaction_type,received_by,time_of_sale
0,1,07-03-2022,Aalopuri,Fastfood,20,13,260,NaN,Mr.,Night
1,2,8/23/2022,Vadapav,Fastfood,20,15,300,Cash,Mr.,Afternoon
2,3,11/20/2022,Vadapav,Fastfood,20,1,20,Cash,Mr.,Afternoon
3,4,02-03-2023,Sugarcane juice,Beverages,25,6,150,Online,Mr.,Night
4,5,10-02-2022,Sugarcane juice,Beverages,25,8,200,Online,Mr.,Evening

In [18]:
df.shape
print('Total number of Rows:',df.shape[0])
print('Total number of Columns:',df.shape[1])

Total number of Rows: 1000
Total number of Columns: 10

In [20]:
print('Inference:')
print('There are 1000 rows and 10 columns our data set')
print('The data is vast for the current scenario and use case')

Inference:
There are 1000 rows and 10 columns our data set
The data is vast for the current scenario and use case

In [24]:
#### check for duplicate rows
df.duplicated() #or
df.duplicated().sum()
### Inference -> There are no duplicate rows in our dataset

0

In [30]:
# Changing data type as necessary (eg -> Date)
df['date'] = df['date'].str.replace('-','/') # we are replacing '-' with '/' in the date column throughout our 
# dataset to make it common and for easier manipulation if required

,order_id,date,item_name,item_type,item_price,quantity,transaction_amount,transaction_type,received_by,time_of_sale
0,1,07/03/2022,Aalopuri,Fastfood,20,13,260,NaN,Mr.,Night
1,2,8/23/2022,Vadapav,Fastfood,20,15,300,Cash,Mr.,Afternoon
2,3,11/20/2022,Vadapav,Fastfood,20,1,20,Cash,Mr.,Afternoon
3,4,02/03/2023,Sugarcane juice,Beverages,25,6,150,Online,Mr.,Night
4,5,10/02/2022,Sugarcane juice,Beverages,25,8,200,Online,Mr.,Evening
...,...,...,...,...,...,...,...,...,...,...
995,996,3/19/2023,Frankie,Fastfood,50,10,500,NaN,Mrs.,Evening
996,997,9/20/2022,Sandwich,Fastfood,60,7,420,NaN,Mr.,Evening
997,998,1/26/2023,Sandwich,Fastfood,60,13,780,NaN,Mr.,Evening
998,999,8/27/2022,Panipuri,Fastfood,20,5,100,NaN,Mrs.,Afternoon
999,1000,5/29/2022,Aalopuri,Fastfood,20,3,60,Online,Mrs.,Midnight

In [36]:
### Change the data type of column date from string to datetime
df['date']=pd.to_datetime(df['date'])
df['date']

0     2022-07-03
1     2022-08-23
2     2022-11-20
3     2023-02-03
4     2022-10-02
         ...
995   2023-03-19
996   2022-09-20
997   2023-01-26
998   2022-08-27
999   2022-05-29
Name: date, Length: 1000, dtype: datetime64[ns]

In [44]:
### Separate numerical and categorical data
col = df.columns.to_list() # Lists all columns in our dataset
num = df.select_dtypes(include = np.number).columns.to_list() #We are creating 'num' to access only the numerical columns in our dataset
cat = df.select_dtypes(exclude = np.number).columns.to_list() #We are creating 'cat' to access only the categorical columns in our dataset

In [48]:
### FINDING MEAN for numerical variable
for i in num:
    print('Mean of ',i,'is:',df[i].mean())

Mean of  order_id is: 500.5
Mean of  item_price is: 33.315
Mean of  quantity is: 8.162
Mean of  transaction_amount is: 275.23

In [52]:
### FINDING MEDIAN for numerical variable
for i in num:
    print('Median of',i,'is:',df[i].median())

Median of order_id is: 500.5
Median of item_price is: 25.0
Median of quantity is: 8.0
Median of transaction_amount is: 240.0

In [56]:
### FINDING MODE for numerical variable
for i in num:
    print('Mode of',i,'is',df[i].mode())

Mode of order_id is 0         1
1         2
2         3
3         4
4         5
       ...
995     996
996     997
997     998
998     999
999    1000
Name: order_id, Length: 1000, dtype: int64
Mode of item_price is 0    20
Name: item_price, dtype: int64
Mode of quantity is 0    13
Name: quantity, dtype: int64
Mode of transaction_amount is 0    300
Name: transaction_amount, dtype: int64

In [80]:
### FINDING MODE for categorical variable
for i in cat:
    print('Mode of ',i,'is:',df[i].mode())
    print()
    print('*******')
for i in cat:
    print('Mode of ',i,'is:',df[i].value_counts()) #### Max value of value count is mode
    print()
    print('*******')
for i in cat:
    print('Mode of ',i,'is:',df[i].value_counts(normalize = True)*100) #### Normalise * 100 gives value in percentage
    print()
    print('*******')

Mode of  date is: 0   2022-05-09
1   2022-08-31
2   2022-10-11
Name: date, dtype: datetime64[ns]

*******
Mode of  item_name is: 0    Cold coffee
Name: item_name, dtype: object

*******
Mode of  item_type is: 0    Fastfood
Name: item_type, dtype: object

*******
Mode of  transaction_type is: 0    Cash
Name: transaction_type, dtype: object

*******
Mode of  received_by is: 0    Mr.
Name: received_by, dtype: object

*******
Mode of  time_of_sale is: 0    Afternoon
1        Night
Name: time_of_sale, dtype: object

*******
Mode of  date is: date
2022-10-11    8
2022-05-09    8
2022-08-31    8
2023-03-19    7
2023-02-03    7
             ..
2022-06-12    1
2022-04-15    1
2022-05-17    1
2022-07-23    1
2022-06-14    1
Name: count, Length: 348, dtype: int64

*******
Mode of  item_name is: item_name
Cold coffee        161
Sugarcane juice    153
Panipuri           150
Frankie            139
Aalopuri           134
Vadapav            134
Sandwich           129
Name: count, dtype: int64

*******
Mode of  item_type is: item_type
Fastfood     686
Beverages    314
Name: count, dtype: int64

*******
Mode of  transaction_type is: transaction_type
Cash      476
Online    417
Name: count, dtype: int64

*******
Mode of  received_by is: received_by
Mr.     512
Mrs.    488
Name: count, dtype: int64

*******
Mode of  time_of_sale is: time_of_sale
Night        205
Afternoon    205
Evening      201
Midnight     199
Morning      190
Name: count, dtype: int64

*******
Mode of  date is: date
2022-10-11    0.8
2022-05-09    0.8
2022-08-31    0.8
2023-03-19    0.7
2023-02-03    0.7
             ...
2022-06-12    0.1
2022-04-15    0.1
2022-05-17    0.1
2022-07-23    0.1
2022-06-14    0.1
Name: proportion, Length: 348, dtype: float64

*******
Mode of  item_name is: item_name
Cold coffee        16.1
Sugarcane juice    15.3
Panipuri           15.0
Frankie            13.9
Aalopuri           13.4
Vadapav            13.4
Sandwich           12.9
Name: proportion, dtype: float64

*******
Mode of  item_type is: item_type
Fastfood     68.6
Beverages    31.4
Name: proportion, dtype: float64

*******
Mode of  transaction_type is: transaction_type
Cash      53.303471
Online    46.696529
Name: proportion, dtype: float64

*******
Mode of  received_by is: received_by
Mr.     51.2
Mrs.    48.8
Name: proportion, dtype: float64

*******
Mode of  time_of_sale is: time_of_sale
Night        20.5
Afternoon    20.5
Evening      20.1
Midnight     19.9
Morning      19.0
Name: proportion, dtype: float64

*******

In [76]:
### Find Unique 
for i in cat:
    print('Unique categories in column',i,'is:',(df[i].unique()))
    print()
    print('******')

Unique categories in column date is: <DatetimeArray>
['2022-07-03 00:00:00', '2022-08-23 00:00:00', '2022-11-20 00:00:00',
 '2023-02-03 00:00:00', '2022-10-02 00:00:00', '2022-11-14 00:00:00',
 '2022-05-03 00:00:00', '2022-12-22 00:00:00', '2022-06-10 00:00:00',
 '2022-09-16 00:00:00',
 ...
 '2023-03-06 00:00:00', '2023-02-21 00:00:00', '2023-02-19 00:00:00',
 '2023-01-07 00:00:00', '2022-09-24 00:00:00', '2022-06-29 00:00:00',
 '2022-11-21 00:00:00', '2023-01-22 00:00:00', '2023-03-30 00:00:00',
 '2022-06-14 00:00:00']
Length: 348, dtype: datetime64[ns]

******
Unique categories in column item_name is: ['Aalopuri' 'Vadapav' 'Sugarcane juice' 'Panipuri' 'Frankie' 'Sandwich'
 'Cold coffee']

******
Unique categories in column item_type is: ['Fastfood' 'Beverages']

******
Unique categories in column transaction_type is: [nan 'Cash' 'Online']

******
Unique categories in column received_by is: ['Mr.' 'Mrs.']

******
Unique categories in column time_of_sale is: ['Night' 'Afternoon' 'Evening' 'Morning' 'Midnight']

******

In [84]:
##### Measures Of Dispersion #####
# Range-> Max - Min
for i in num:
    print('Range of column',i,'is',df[i].max()-df[i].min())

Range of column order_id is 999
Range of column item_price is 40
Range of column quantity is 14
Range of column transaction_amount is 880

In [86]:
### Variance
for i in num:
    print('Variance of Column:',i,'is',df[i].var())

Variance of Column: order_id is 83416.66666666667
Variance of Column: item_price is 222.65843343343138
Variance of Column: quantity is 19.475231231231273
Variance of Column: transaction_amount is 41780.57767767783

In [88]:
### Standard Deviation
for i in num:
    print('Std Deviation of Column',i,'is',df[i].std())
#Inference -> Standard deviation is least in quantity and most in order_id

Std Deviation of Column order_id is 288.8194360957494
Std Deviation of Column item_price is 14.921743645882387
Std Deviation of Column quantity is 4.413075031226104
Std Deviation of Column transaction_amount is 204.4029786418922

In [90]:
### IQR -> Middle 50% of data # Used to find outliers
for i in num:
    print('IQR Value of column',i,'is',df[i].quantile(0.75) - df[i].quantile(0.25))
    # as there is no direct function to find IQR we use quantle to of middle value from .25 to .75 to find IQR

IQR Value of column order_id is 499.5
IQR Value of column item_price is 30.0
IQR Value of column quantity is 8.0
IQR Value of column transaction_amount is 240.0

In [92]:
#Measures Of Shape
#Skewness
for i in num:
    print('Skewness value of column',i,'is',df[i].skew())

Skewness value of column order_id is 0.0
Skewness value of column item_price is 0.6250044803515558
Skewness value of column quantity is -0.05129947454908782
Skewness value of column transaction_amount is 1.052643178230624

In [94]:
#Kurtosis
for i in num:
    print('Skewness value of column',i,'is',df[i].kurt())

Skewness value of column order_id is -1.2
Skewness value of column item_price is -1.173262217524134
Skewness value of column quantity is -1.2416861155903576
Skewness value of column transaction_amount is 0.6554065709917558

In [100]:
#CoVariance
df[num].cov()

                        order_id   item_price    quantity  transaction_amount
order_id            83416.666667   159.577077   13.185185         2595.785786
item_price            159.577077   222.658433    3.316286         1943.606156
quantity               13.185185     3.316286   19.475231          660.122863
transaction_amount   2595.785786  1943.606156  660.122863        41780.577678

In [102]:
#CoRelation
df[num].corr()
#inference -> the strength of r/s is greatest b/w quantity and transaction_amount and least between item_price and order_id

                    order_id  item_price  quantity  transaction_amount
order_id            1.000000    0.037028  0.010345            0.043970
item_price          0.037028    1.000000  0.050361            0.637238
quantity            0.010345    0.050361  1.000000            0.731806
transaction_amount  0.043970    0.637238  0.731806            1.000000

In [112]:
#Five Point Summary/Describe
df[num].describe() # For numerial data
df[cat].describe(include = 'object') # For categorical data

          item_name item_type transaction_type received_by time_of_sale
count          1000      1000              893        1000         1000
unique            7         2                2           2            5
top     Cold coffee  Fastfood             Cash         Mr.        Night
freq            161       686              476         512          205